body {
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 25%;
}

.btn_link {
    border: none !important;
    background-color: transparent !important;

}

.btn_form {
    color: white !important;
    background-color: transparent !important;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.btn_form:hover {
    color: rgb(0, 0, 0) !important;
    background-color: whitesmoke !important;
}


.dropdown-content {
    z-index: 9999 !important;
    position: absolute !important; /* Assicurati che la posizione sia relativa al genitore appropriato */
    /* Aggiungi altre regole CSS se necessario */
}

#problema{
    grid-auto-columns: auto;

}
